<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav>
            <h1>Todos</h1>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        <section class="todos-list">
            <ul>
                <% todos.forEach( el=> { %>
                    <li id="droptarget" class='<%= el.completed === true ? 'todoItem-lowlight' : 'todoItem' %>' data-id='<%=el._id%>'>
                        <h3 class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %>
                        </h3>
                        <p class='todoDesc'>
                            <%= el.description %>
                        </p>
                        <button class='del'> Delete </button>
                        <button class='<%= el.completed === true ? 'mark-incomplete' : 'mark-complete' %>'> <%= el.completed === true ? 'Not completed?' : 'Complete' %> </button>
                    </li>
                    <% }) %>
            </ul>


        </section>

        <section>
            <div class="todo-section">
                <form action="/todos/createTodo" method='POST'>
                    <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                    <input type="text" placeholder="Description" name='todoDesc'>
                    <input class="submit-btn" type="submit">
                </form>
                <h2>
                    <%= user.userName %> has <span class="left-num">
                            <%= left %>
                        </span> things left to do.
                </h2>

            </div>

        </section>

    </main>
    <script src="js/main.js"></script>
</body>

</html>